django==4.2.27
django-picklefield
dnslib
wigle
netaddr
requests
protobuf==2.6.1
#above requirements are for web interface only - also need scapy for sniffing
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
